<%= form_for(shounin) do |f| %>
  <% if shounin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shounin.errors.count, "error") %> prohibited this shounin from being saved:</h2>

      <ul>
      <% shounin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "30x10" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <% if shounin.persisted? %>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '登録', :class=>"button"%>
  </div>
<% end %>
