<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @shounin.description %>
</p>

<%= form_for @shounin do |f| %>
  <div class="field" >
    <%= f.label :approval %>
  </div>
  <% if @shounin.approval.nil? %>
      <span>承認します</span>
      <%= f.radio_button :approval, '1' %>
      <span>承認しません</span>
      <%= f.radio_button :approval, '0' %>
      <div class="actions">
          <%= f.submit %>
      </div>
  <% end %>
  <% if @shounin.approval==false %>
      <% unless @shounin.comment %>
    <%= f.text_area :comment, id: "textarea" %>
    <%= f.submit %>
      <% end %>
  <% end %>
<% end %>
    <!-- <button id="show-textarea"> 承認しません </button> -->
  <% unless @shounin.approval.nil? %>
    <% if @shounin.approval %>
      <p>承認します</p>
      <% else %>
      <p>承認しません</p>
      <p><%= @shounin.comment %><p>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_shounin_path(@shounin) %>
<%= link_to 'Back', shounins_path %>

<!-- <script type="text/javascript">
$('#textarea').hide();
$('#show-textarea').click(function(){
  $('#textarea').show();
});
</script> -->
