<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @shounin.description %>
</p>

<%= form_for(@shounin) do |f| %>
  <div class="field">
    <%= f.label :approval %>
    <%= f.check_box :approval %>
  </div>

  <% unless @shounin.approval %>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => "20x10" %>
  </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_shounin_path(@shounin) %> |
<%= link_to 'Back', shounins_path %>
<script>

$(function(){
  setTimeout(function(){
   $('#notice'). fadeOut("slow");
 }, 900);
});
</script>
