<!DOCTYPE html>
<html>
  <head>



    <title>承認さん</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="background-color:#fffafa">
    <%= image_tag 'logo.png', :size => '480x136' %>
    <h1>承認さん</h1>
    <h3>30秒で作れる！カンタン承認フォーム</h3>



    <%= yield %>
  </body>
</html>
